<div class="container">
	<div class="row">
		<h1>A Blank Skeleton Blog</h1>
	</div>
	<div class="row">
		<% @posts.each do |post| %>
			<h3><%= link_to post.title, post %></h3>
			<p><%= post.content %></p>
		<% end %>
	</div>
</div>