<div class='container'>
	<div class='row'>
		<h2>New Post</h2>
	</div>
	<div class="row">
		<%= simple_form_for @post do |f| %>
			<%= f.input :title, input_html: { class: 'u-full-width input' }, wrapper: false, label_html: { class:'label' } %>

			<%= f.input :content, input_html: { class: 'u-full-width textarea' }, wrapper: false, label_html: { class:'label' } %>
			
			<div class='row'>
				<%= f.button :submit, 'Create new post', class: "button-primary" %>
			</div>
		<% end %>
	</div>
</div>
