<% content_for :page_title, "@post.title" %>

<div class="container">
	<section class="header">

		<h1 class='title'><%= @post.title %></h1>
		<div class="content">
			<%= @post.content %>
		</div>
	</section>
</div>